

p {
    color: #942525;
}

input {
    margin-right: 20px;
    padding: 0 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 22px;
}

.teach-block {
    background-color: #ffcaca;
    text-align: center;
    border: 1px solid #942525;
    border-radius: 15px;
    padding: 20px;
    font-size: 1.5rem;
}

.list {
    padding: 0 5%;
}

.row {
    display: flex;
    justify-content: space-between; 
    color: #942525;
    margin-bottom: 10px;
}

.btn-remove {
    background-color: #ff7e7e;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
}

.btn-remove:hover {
    background-color: red;
}

.btn-back {
    background-color: #89ff7e;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    font-size: 22px; 
}

.word {
    cursor: pointer;
}

.word:hover {
    color: red;
    outline: 1px solid red;
    outline-offset: 0.5rem;
    border-radius: 5px;
}



