

.header {
    display: flex;
    margin-bottom: 10px;
    padding: 30px 40px;
    border-radius: 15px;
    border: 1px solid #a76502;
    color: #fff;
    background-color: #ffc165;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #a76502;
}

.link:hover {
    color: #442901;
}